*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEBUG:  */
body{
  background-color: pink;
}

[class^="col-"]{
  border: 2px solid black;
}

.debug-2 [class^="col-"] > [class^="col-"]{
  border: 2px solid white;
  background-color: red;
}

.debug-1{
  height: 10vh;
  text-align: center;
}

.debug-2{
  height: calc(90vh / 4);
  text-align: center;
}

.debug-2 span{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
